<div class="wrapper-list-all-content">
    <div class="header-list-all">
        <p>อนุมัติสถานะการวิ่ง (Approver)</p>
        <hr>
    </div>
    <div class="box-filter-approver">
        <div class="col-1">
            <label>ค้นหาด้วย</label>
        </div>
        <div class="col-3">
            <input class="form-control">
        </div>
        <div class="col-3">
            <input class="form-control">
        </div>
        <div class="col-2">
            <input class="form-control">
        </div>
        <div class="col-2">
            <input class="form-control">
        </div>
    </div>
    <div class="box-grid-header-content-approver">
        <span>ชื่องาน</span>
        <span>วันที่จัดงาน</span>
        <span>จำนวน</span>
        <span>สถานะ</span>
        <span>เครื่องมือ</span>
    </div>
    <div class="box-grid-body-content-approver align-items-center" *ngFor="let rs of register_event_by_approver;let i = index">
        <span>{{rs.reg_event_name}}</span>
        <span>{{rs.reg_event_due_date}}</span>
        <span>{{rs.reg_event_amount}}</span>
        <span *ngIf="rs.reg_event_status == '01'" class="">รอการอนุมัติ (Waiting for approver)</span>
        <div class="w-100 d-flex justify-content-between align-items-center">
            <div class="wrap-button">
                <button class="btn btn-success custom-button-approver">
                    Approver
                </button>
            </div>
            <div class="wrap-button">
                <button class="btn btn-danger custom-button-approver">
                    Reject
                </button>
            </div>

        </div>
    </div>
</div>