<div class="box-wrapper-admin-dashboard">
    <div class="box-left-admin-dashboard">
        <div class="row ">
            <span class="text-header-dashboard mb-1">Malathon Admin</span>
        </div>
        <hr>
        <div class="box-profile-dashboard">
            <div class="circle">
                <p class="circle-inner pt-2">T</p>
            </div>
            <div>
                <p class="text-header-account">{{this.first_name}} {{this.lastname}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="wrapper-collapse">
                <div class="header-collapse">
                    <div class="header-collapse-icon d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor"
                            class="bi bi-person-workspace" viewBox="0 0 16 16">
                            <path
                                d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                            <path
                                d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2z" />
                        </svg>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="header-collapse-label ">งานอนุมัติ</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16" (click)="setCollapseApprover()"
                            *ngIf="collapse_approver_menu == false">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16" (click)="setCollapseApprover()"
                            *ngIf="collapse_approver_menu == true">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg>
                    </div>
                    <div>
                    </div>
                </div>
                <ng-container *ngIf="collapse_approver_menu == true">
                    <div class="wrapper-collapse-transition">
                        <ul class="list-li-menu">
                            <li class="list-li-menu" (click)="setMenu('approver_organizer')">อนุมัติสถานะผู้จัดงาน</li>
                            <li class="list-li-menu" (click)="setMenu('approver_running')">อนุมัติการงานวิ่ง</li>
                            <li class="list-li-menu" (click)="setMenu('approver_payment')">อนุมัติการชำระเงิน</li>
                            <li class="list-li-menu" (click)="setMenu('basic_admin')">อนุมัติการรับอุปกรณ์</li>
                            <li class="list-li-menu" (click)="setMenu('basic_admin')">บันทึกสถิติการวิ่ง</li>
                        </ul>
                    </div>
                </ng-container>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="wrapper-collapse">
                <div class="header-collapse">
                    <div class="header-collapse-icon d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor"
                            class="bi bi-clipboard2-data-fill" viewBox="0 0 16 16">
                            <path
                                d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5" />
                            <path
                                d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0V9a1 1 0 0 1 1-1" />
                        </svg>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="header-collapse-label ">ข้อมูลพื้นฐาน</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16" (click)="setCollapsebasic()"
                            *ngIf="collapse_basic_menu == false">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16" (click)="setCollapsebasic()"
                            *ngIf="collapse_basic_menu == true">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg>
                    </div>
                    <div>
                    </div>
                </div>
                <ng-container *ngIf="collapse_basic_menu == true">
                    <div class="wrapper-collapse-transition">
                        <ul class="list-li-menu">
                            <li class="list-li-menu" (click)="setMenu('basic_admin')">ข้อมูลผู้จัดการระบบ</li>
                            <li class="list-li-menu" (click)="setMenu('basic_organizer')">ข้อมูลผู้จัดงาน</li>
                            <li class="list-li-menu" (click)="setMenu('basic_member')">ข้อมูลสมาชิก</li>
                            <li class="list-li-menu" (click)="setMenu('basic_marathon')">ข้อมูลงานวิ่ง</li>
                            <li class="list-li-menu" (click)="setMenu('basic_location')">ข้อมูลสถานที่</li>
                        </ul>
                    </div>
                </ng-container>
            </div>
            <div class="wrapper-collapse pt-2">
                <div class="header-collapse">
                    <div class="header-collapse-icon d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor"
                            class="bi bi-wallet-fill" viewBox="0 0 16 16">
                            <path
                                d="M1.5 2A1.5 1.5 0 0 0 0 3.5v2h6a.5.5 0 0 1 .5.5c0 .253.08.644.306.958.207.288.557.542 1.194.542.637 0 .987-.254 1.194-.542.226-.314.306-.705.306-.958a.5.5 0 0 1 .5-.5h6v-2A1.5 1.5 0 0 0 14.5 2z" />
                            <path
                                d="M16 6.5h-5.551a2.678 2.678 0 0 1-.443 1.042C9.613 8.088 8.963 8.5 8 8.5c-.963 0-1.613-.412-2.006-.958A2.679 2.679 0 0 1 5.551 6.5H0v6A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5z" />
                        </svg>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="header-collapse-label ">ข้อมูลชำระเงิน</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="wrapper-collapse pt-2">
                <div class="header-collapse">
                    <div class="header-collapse-icon d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor"
                            class="bi bi-file-earmark-pdf-fill" viewBox="0 0 16 16">
                            <path
                                d="M5.523 12.424c.14-.082.293-.162.459-.238a7.878 7.878 0 0 1-.45.606c-.28.337-.498.516-.635.572a.266.266 0 0 1-.035.012.282.282 0 0 1-.026-.044c-.056-.11-.054-.216.04-.36.106-.165.319-.354.647-.548m2.455-1.647c-.119.025-.237.05-.356.078a21.148 21.148 0 0 0 .5-1.05 12.045 12.045 0 0 0 .51.858c-.217.032-.436.07-.654.114m2.525.939a3.881 3.881 0 0 1-.435-.41c.228.005.434.022.612.054.317.057.466.147.518.209a.095.095 0 0 1 .026.064.436.436 0 0 1-.06.2.307.307 0 0 1-.094.124.107.107 0 0 1-.069.015c-.09-.003-.258-.066-.498-.256M8.278 6.97c-.04.244-.108.524-.2.829a4.86 4.86 0 0 1-.089-.346c-.076-.353-.087-.63-.046-.822.038-.177.11-.248.196-.283a.517.517 0 0 1 .145-.04c.013.03.028.092.032.198.005.122-.007.277-.038.465z" />
                            <path fill-rule="evenodd"
                                d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2m5.5 1.5v2a1 1 0 0 0 1 1h2zM4.165 13.668c.09.18.23.343.438.419.207.075.412.04.58-.03.318-.13.635-.436.926-.786.333-.401.683-.927 1.021-1.51a11.651 11.651 0 0 1 1.997-.406c.3.383.61.713.91.95.28.22.603.403.934.417a.856.856 0 0 0 .51-.138c.155-.101.27-.247.354-.416.09-.181.145-.37.138-.563a.844.844 0 0 0-.2-.518c-.226-.27-.596-.4-.96-.465a5.76 5.76 0 0 0-1.335-.05 10.954 10.954 0 0 1-.98-1.686c.25-.66.437-1.284.52-1.794.036-.218.055-.426.048-.614a1.238 1.238 0 0 0-.127-.538.7.7 0 0 0-.477-.365c-.202-.043-.41 0-.601.077-.377.15-.576.47-.651.823-.073.34-.04.736.046 1.136.088.406.238.848.43 1.295a19.697 19.697 0 0 1-1.062 2.227 7.662 7.662 0 0 0-1.482.645c-.37.22-.699.48-.897.787-.21.326-.275.714-.08 1.103z" />
                        </svg>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="header-collapse-label ">รายงาน</p>
                    </div>
                    <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </div>
                </div>
            </div>
            <div class="wrapper-collapse pt-2 ">
                <div class="header-collapse">
                    <div class="header-collapse-icon d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50%" height="50%" fill="currentColor"
                            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                            <path fill-rule="evenodd"
                                d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                        </svg>
                    </div>
                    <div class="d-flex align-items-center">
                        <p class="header-collapse-label" (click)="signOut()">ออกจากระบบ</p>
                    </div>
                    <!-- <div class="d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="wrap-content-dashboard">
        <app-dashboard-index-content *ngIf="menu == 'index'"></app-dashboard-index-content>
        <app-admin-content *ngIf="menu == 'basic_admin'"></app-admin-content>
        <app-organizer-content *ngIf="menu == 'basic_organizer'"></app-organizer-content>
        <app-member-content *ngIf="menu == 'basic_member'"></app-member-content>
        <app-approver-running *ngIf="menu == 'approver_running'"></app-approver-running>
        <app-approver-organizer *ngIf="menu == 'approver_organizer'"></app-approver-organizer>
    </div>
</div>