/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;600&family=Ubuntu&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}


html {
    min-width: 1084px;
    max-width: 100%;
}

label.label input[type="file"] {
    position: absolute;
    top: -1000px;
}

.label {
    cursor: pointer;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 5px 15px;
    //margin: 5px;
    background: #0d6efd;
    color: #fff;
    display: inline-block;
}

.label:hover {
    background: #fff;
    color: #000;
}

.label:active {
    background: #9fa1a0;
}

.label:invalid+span {
    color: #000000;
}

.label:valid+span {
    color: #ffffff;
}

::placeholder {
    color: #C5C6D0 !important;
    opacity: 1 !important;
    /* Firefox */
    font-size: 15px;
    letter-spacing: 1.5px;
}

//form 
.box-global-form {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.wrapper-page {
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #fff;
    min-height: calc(100vh - 60px) !important;
}

.wrapper-page-auth {
    padding: 0px !important;
    min-width: 100%;
    min-height: 100vh;
}

//navbar 
.box-nav {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 106, 0, 1) 0%, rgba(240, 217, 159, 1) 100%);
    margin-bottom: 13px;
    height: 60px;
}

.nav-detail {
    padding-top: 10px;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}


.wrapper-nav-menu {
    display: grid;
    grid-template-columns: 200px auto;
}

.nav-gap {
    gap: 0px 20px;
}

.nav-grid-left {
    padding: auto;
}

.nav-grid-left small {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1.5px;
    color: #fff;
    cursor: pointer;
}

.nav-grid-right {
    // display: flex;
    // justify-content: space-between;
    padding-top: auto;
    display: grid;
    grid-template-columns: auto 180px;
}

.nav-grid-right small {
    text-transform: uppercase;
    display: flex;
    align-items: center !important;
    color: #fff;
    cursor: pointer;
}

.box-profile-nav {
    display: grid;
    grid-template-columns: 60% 10% 20%;
}

.wrap-text-icon-profile {
    width: 120px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.vl {
    border-left: 2px solid #fff;
    height: auto;
}

.circle-profile-nav {
    padding: 1px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50px;
    vertical-align: middle;
    object-fit: cover;
}

// .circle-profile-nav img {
//     // width: 35px;
//     // height: 35px;
//     // padding: 5px;
//     // border-radius: 50px;
//     // vertical-align: middle;
//     // text-align: center;
// }

.wrapper-box-collapse {
    display: flex;
    justify-content: end;
    width: 100%;
    padding-right: 100px !important;
    position: relative;
    bottom: 10px !important;
    // left: 50%;
}

.box-collapse {
    background-color: #fff;
    border: 1px solid #A9A9A9;
    width: 200px;
}

.box-collapse-body {
    width: 100%;
}

.menu-collapse {
    width: 100% !important;
    //padding: 0px;
    //margin: 0px;
}

.menu-collapse p {
    padding: 5px;
    margin-bottom: 0px !important;
    cursor: pointer;
}

.menu-collapse :hover {
    background-color: #A0BFE0;
}

.text-profile-nav {
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    white-space: nowrap;
    width: 70px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .text-profile-nav:hover {
//     zoom: 70%;
//     position: relative !important;
//     right: 70px;
//     top: -20px;
//     overflow: visible !important;
//     width:120px;
// }

.box-login {
    display: flex;
    justify-content: end;
}

//responsive navbar
@media screen and (max-width: 1350px) {
    .nav-grid-right small {
        display: none;
    }

    .vl {
        display: none;
    }

    .box-profile-nav {
        display: flex;
        // grid-template-columns: auto;
        justify-content: end;
        text-align: end;
    }

    .nav-grid-right {
        display: grid;
        grid-template-columns: auto;
        text-align: end;
    }

    .nav-detail {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .wrapper-box-collapse {
        padding-right: 0px !important;
        bottom: 0px !important;
    }

    .wrap-text-icon-profile {
        display: none;
    }
}

.box-wrapper-header {
    //background-color: #CA965C;
    height: 50px;
}

.box-header {
    width: 100%;
}

.box-search-bar {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
}

.search-bar {
    text-align: center;
    width: 800px;
}

//auth 
.grid-wrapper-auth {
    display: grid;
    grid-template-columns: 100%;
}

.wrap-position {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    // top: 30%;
    // left: 50%;
}

.box-border-auth {
    min-width: 1020px;
    min-height: 600px;
    border: solid 1px #F1EFEF;
    display: flex;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #F1EFEF;
}

.box-left {
    width: 30%;
    height: 100%;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 106, 0, 1) 0%, rgba(240, 217, 159, 1) 100%);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px #F1EFEF;
}

.text-left-auth {
    cursor: pointer;
    padding-top: 200px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 0px;
}

.text-left-auth-label {
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    width: 100%;
    text-align: start;
}

.box-right {
    width: 70%;
    text-align: center;
    padding-top: 80px;
}

.box-form-group-custom {
    width: auto;
    display: flex;
    justify-content: center;
}

.box-form-group-custom input {
    width: 50%;
}

.B4BDFF {
    height: 2px;
    color: #B4BDFF;
    margin: 20px;
}

.EC8F5E {
    color: #EC8F5E;
}

// width 
.w-250px {
    width: 150px;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

.required {
    border: 1px solid #dc3545 !important;
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.box-wrapper-admin-dashboard {
    display: grid;
    grid-template-columns: 250px auto;
    min-height: 100vh;
    max-height: 100%;
    background-color: #f4f3ef;
}

.box-left-admin-dashboard {
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px #A9A9A9;
    padding: 30px;
    // text-align: center;
}

.text-header-dashboard {
    color: #000;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 0px;
    line-height: 30px;
}

.box-profile-dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.text-header-account {
    margin-left: 10px;
    margin-top: 10px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 30px;
    white-space: nowrap;
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    // text-wrap: break-word;
}

.text-header-account:hover {

    overflow: visible !important;
    zoom: 80%;
}

.circle {
    display: inline-block;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 106, 0, 1) 0%, rgba(240, 217, 159, 1) 100%);
    margin-top: 10px;
    // margin: 2px;
    // padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;

}

.wrapper-collapse {
    //margin-top: 15px !important;
    height: auto !important;
    color: rgba(0, 0, 0, .65);
    transition: height 2s;
}

.wrapper-collapse-transition {
    //padding: 0 18px;
    min-height: 0;
    transition: height 1s ease 0s;
    // max-height: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    //background-color: #f1f1f1;
    color: #000;
}

// .wrapper-collapse-transition :hover{
//     background: #ccc;
//     overflow: hidden;
//     transition: height 2s;
//     height: 200px;
// }


.header-collapse {
    display: grid;
    grid-template-columns: 20% 60% 10%;
    //padding-left: 5px;
}

.header-collapse-label {
    // color: #000;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 40px;
    cursor: pointer;
}

.header-collapse-label:hover {
    color: #000;
    font-size: 18px;
    font-weight: 400;
}

.header-collapse-icon {
    //padding-top: 5px;
    width: 50px !important;
    height: 50px !important;
}

svg {
    cursor: pointer !important;
}

.wrap-content-dashboard {
    padding: 40px;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 14px;
    text-align: start;
}

.wrapper-list-all-content {
    background-color: #fff;
    border-radius: 20px;
    min-height: 100vh;
    max-height: 100%;
    padding: 20px
}

.card-list {
    display: flex !important;
    width: 18rem;
    justify-self: start !important;
}

.header-list-all {
    width: 100%;
    padding-bottom: 20px;
}

.header-list-all p {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 26px;
}

.box-no-data {
    text-align: center;
    margin: auto;
    width: 50%;
}

.text-count {
    font-size: 20px;
    font-weight: 600;
    color: #ff6a00;
}

.list-li-menu {
    margin-left: 36px;
    padding-bottom: 10px;
    width: fit-content !important;
    cursor: pointer !important;
}

.list-li-menu :hover {
    font-weight: 400;
    font-size: 16;
}

.word-wrap {
    word-wrap: break-word !important;
}

.box-input-group {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.box-input-group label {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.btn-modal-submit {
    width: 220px !important;
}

//list menu
.card-title-event {
    // margin-left: 10px;
    // margin-top: 10px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    // font-size: 18px;
    white-space: nowrap;
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;

}

.card-title-event:hover {
    overflow: visible !important;

    zoom: 80%;
}

.card-text-event {
    color: #000;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: height 0.5s ease 0.1s;
}

.card-text-event-organizer {
    color: #000;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
}

.card-text-event-price {
    color: #dc3545;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 400;
    height: 40px;
}

.card-text-event-amount {
    color: #000;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 200;
    height: 40px;
}

.card-text-event:hover {
    margin-bottom: 20px;
    overflow: visible !important;
    height: 60px;
}

.wrapper-list-menu {
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
}

.box-search-list-menu {
    width: 100%;
    display: flex;
    justify-content: center !important;
}

.box-input-search {
    padding-top: 2px;
    width: 800px;
}

.img-box-search {
    border-radius: 5px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.box-wrap-refresh {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-self: start;
}

.refresh-button {
    width: 60px;
    border-radius: 100px !important;
    border: 1px solid rgba(13, 110, 253, 1);
    opacity: 1;
    background: rgb(101, 127, 255);
    background: linear-gradient(90deg, rgba(101, 127, 255, 1) 2%, rgba(13, 110, 253, 1) 33%);
    box-shadow: 1px 1px #ccc;
}

.refresh-button:hover {
    // width: 60px;
    // border-radius: 100px !important;
    // color: #000;
    opacity: 0.8;
}

.box-button-search {
    margin-left: 10px;
    width: 120px;
}

.box-content-list-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    // grid-row-start: auto;
    padding-top: 50px;
    gap: 40px 0px;
    justify-content: start;

    // text-align: start !important;
}

@media screen and (max-width: 1620px) {
    .box-content-list-menu {
        grid-template-columns: 25% 25% 25% 25%;
        gap: 40px 0px;
    }
}

@media screen and (max-width:1300px) {
    .box-content-list-menu {
        grid-template-columns: 33% 33% 33%;
        gap: 40px 5px;
    }
}

@media screen and (max-width:1100px) {
    .box-content-list-menu {
        grid-template-columns: auto auto;
        gap: 40px 150px;
    }
}

.wrapper-grid-setting-profile {
    display: grid;
    grid-template-columns: 20% 80%;
}

.box-setting-profile-left {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 450px;
    max-height: 100%;
}

.box-setting-profile-right {
    margin: 20px;
    padding: 20px;
    min-height: 450px;
    max-height: 100%;
    border-radius: 5px;
    background-color: #F3F3F3;
    box-shadow: 2px 2px #D8DAE0;
}

.circle-profile-setting-profile-left {
    padding: 1px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50px;
    vertical-align: middle;
    object-fit: cover;
}

.wrap-header-setting-profile-left {
    display: flex;
    gap: 30px;
    // justify-self: center !important;
}

.wrapper-dashboard-organization {
    padding-top: 1rem;
    width: 100%;
}

.grid-50-50 {
    display: grid;
    grid-template-columns: 50% 50% !important;
    align-items: center;
}

.previews-img {
    padding: 10px;
    border: #C5C6D0 solid 1px;
    border-radius: 5px;
    width: 300px;
    height: 220px;
    text-align: center;
}

.cdk-overlay-container {
    position: fixed;
    z-index: 1500 !important;
}

.box-date-container {
    display: flex;
}

//set date-picker 
.date-picker {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.label-date-picker {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.box-filter-approver {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center !important;
    align-items: center !important;
    gap: 20px;
    // justify-content: space-between;
}
.wrap-table{
    margin-top: 30px;
    min-width: 250px;
    max-width: 100%;
    overflow-x: auto;
}

.box-filter-approver label {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
}

.box-grid-header-content-approver {
    margin-top: 40px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    gap: 30px;
    justify-content: space-around;
}

.box-grid-header-content-approver span {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100% !important;
    overflow: hidden;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
}

.box-grid-body-content-approver {
    margin-top: 20px;
    width: 100%;
    min-height: 150px;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #495057;
    border-color: #dee2e6;
    background-color: #e9ecef;
    gap: 30px;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    justify-content: space-around;
    overflow-wrap: break-word;
    overflow: hidden;
}

.wrap-button {
    width: 45%;
}

.custom-button-approver {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    //width: 80px;
    height: 50px;
    width: 35%;
}

.search_remove_icon {
    margin-left: 770px;
    position: absolute;
    top: 95px;
}

.search_remove_icon svg :hover {
    color: #0d6efd;
}

//   .circle-inner {
//     color: white;
//     display: table-cell;
//     vertical-align: middle; 
//     text-align: center;
//     text-decoration: none;
//     height: fit-content;
//     width: fit-content;  
//     font-size: 30px;
//   }
// .btn-disble {
//     background-color: ;
// }
// .grid-item {
//     background-color: rgba(255, 255, 255, 0.8);
//     border: 1px solid rgba(0, 0, 0, 0.8);
//     padding: 20px;
//     font-size: 30px;
//     text-align: center;
// }