<div class="wrapper-list-all-content">
    <div class="header-list-all">
        <p>อนุมัติสถานะผู้จัดงาน (Approver)</p>
        <hr>
    </div>
    <div class="box-no-data" *ngIf="reg_event_by_approver_list == null">
        <h4>ไม่พบข้อมูล (No data)</h4>
    </div>
    <div class="box-filter-approver" *ngIf="reg_event_by_approver_list?.length > 0">
        <div class=" text-start">
            <label>ค้นหาด้วย</label>
        </div>
        <div class="col-3 text-start">
            <input class="form-control">
        </div>
        <div class="col-3 text-start">
            <input class="form-control">
        </div>
    </div>
    
    <div class="wrap-table" *ngIf="reg_event_by_approver_list?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">ลำดับ</th>
                    <th scope="col" style="width: 20%;">รูปภาพ</th>
                    <th scope="col" style="width: 20%;">ชื่องาน</th>
                    <th scope="col" style="width: 20%;">สถานที่จัดงาน</th>
                    <th scope="col" style="width: 10%;">วันที่จัดงาน</th>
                    <th scope="col" style="width: 20%;">เครื่องมือ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of reg_event_by_approver_list;let i = index;">
                    <th scope="row" class="text-count">{{i+1}}</th>
                    <td><img src="{{list.reg_event_path_img}}" style="width: auto;height: 75px;object-fit: cover;"></td>
                    <td>{{list.reg_event_name}}</td>
                    <td>{{list.location_province}} / {{list.location_district}} / {{list.location_zipcode}}</td>
                    <td>{{list.reg_event_due_date}}</td>
                    <td>
                        <!-- <div class="d-flex justify-content-between align-items-center" style="width: fit-content;">

                            <div class="wrap-button"> -->
                        <button class="btn btn-success custom-button-approver me-3"
                            (click)="updatestatusapprover(list.trans_id)">
                            Approver
                        </button>
                        <!-- </div> -->
                        <!-- <div class="wrap-button"> -->
                        <button class="btn btn-danger custom-button-approver ">
                            Reject
                        </button>
                        <!-- </div> -->
                        <!-- </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>